<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Student Management App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Favicon -->
    <link rel="icon"
          type="image/png"
          href="https://img.icons8.com/dotty/80/000000/student-registration.png">
</head>
<body>

<!-- Card Component-->
<div class="card text-center">
    <div class="card-header">
        Student Manager App
    </div>
    <div class="card-body">
        <h5 class="card-title">Welcome to Student Manager App</h5>
        <a href="/addStudent" class="btn btn-outline-primary">Add Student</a>
        <a href="/updatedList" class="btn btn-outline-primary">View Student List</a>
    </div>
    <div class="card-footer text-muted">
        “Your attitude, not your aptitude, will determine your altitude.”
        Zig Ziglar
    </div>
</div>
</body>
</html>